* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
.background-image {
    position: relative;
}
.background-image img {
    width: 100%;
}
.background-image .text {
    text-align: center;
    position: absolute;
    top: 75%; /* 画面の中央に配置 */
    left: 50%;
    transform: translate(-50%, -50%); /* 正確に中央に配置 */
    color: rgb(0, 0, 0); /* テキストの色（背景によって調整） */
    font-size: 30px; /* フォントサイズ（調整可能） */
    font-weight: bold; /* 文字を太くする */
}
header {
    position: absolute; /* 絶対配置 */
    top: 0; /* 上端に配置 */
    width: 100%; /* 横幅を100%に */
    height: 8%;
    display: flex; /* 横並びに配置 */
    justify-content: space-between; /* 左右にスペースを分ける */
    align-items: center; /* 垂直方向を中央揃え */
    padding: 10px 20px; /* 内側の余白を調整 */
    background-color: #000000c9; /* 背景色を設定（例） */
    color: white; /* テキストを白色に（例） */
    z-index: 1; /* 他の要素より手前に表示 */
}
header h1 {
    margin: 0; /* デフォルトの余白を削除 */
    font-size: 40px; /* 必要に応じて文字サイズを調整 */
}
.header-links {
    display: flex; /* 横並びに配置 */
    gap: 20px; /* リンク間の間隔を設定 */
}
.header-links span a {
    text-decoration: none; /* アンダーラインを削除 */
    color: white; /* リンクの文字色を白色に */
    font-size: 25px; /* 必要に応じてサイズ調整 */
}
.profile{
    text-align: center; /* 中央揃え */
}
.profile h2 {
    font-size: 40px; /* 必要に応じてサイズ調整 */
}
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;  /* 円形にする */
}
.profile p {
    font-size: 20px; /* 必要に応じてサイズ調整 */
}
.skill {
    background-color: #000000;
    text-align: center; /* 中央揃え */
}
.skill h2 {
    font-size: 40px; /* 必要に応じてサイズ調整 */
    color: white; /* テキストの色を白色に */
}
.skill img {
    padding: 10px; 
}
.project {
    text-align: center; /* 中央揃え */
}
footer {
    text-align: center; /* 中央揃え */
    background-color: #000000; /* 背景色を設定（例） */
    color: white; /* テキストを白色に（例） */
}